*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

body {
  font-family: 'Lato', system-ui;
}

ul, nav{
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

svg { fill: white; }

.input-message {
  color: #fff;
}

i {
  font-size: 1.3rem;
}
span {
  display: inline-block;
}

.board-title p {
  text-transform: uppercase;
  padding: 1px 10px;
  text-align: center;
  background: #71aadc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgb(0 0 0 / 25%);
}

.instagram {
  width: 60px;
  height: 60px;
}

.whatsapp {
  width: 60px;
  height: 60px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 360px;
}

/* HEADER PART */
.header {
  width: 100%;
  padding: 20px 20px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav, .title { float:right!important; }
#logo-blessed, .logo { float: left!important; }
#logo-blessed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title { margin: 10px; }
.logo { 
  width: 110px;
  height: 110px;
  background: white;
  border-radius: 100%;
}
.logo>svg {
  width: inherit;
  height: inherit;
  padding: 10px;
}

ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
li {margin-left: 20px;}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
}

.instagram:hover, .whatsapp:hover { fill-opacity: 60%; }

.btn:hover {
  background: #3D70B1;
  color: #fff;
}

p.input-message {
  text-align: center;
}

.body  {
  height: 100%;
  width: 100%;
  margin-top: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#title {
  color: white;
  font-size: 5rem;
  text-transform: capitalize;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#main-feature { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  float: left;
}

#board {
  border: 5px solid white;
  margin-left: 40px;
  padding: inherit;
  width: 26rem;
  height: 26rem;
  float: right;
}

.board-title {display: -webkit-box;display: -ms-flexbox;display: flex;}
#board-info { 
  font-size: smaller; 
  margin: -13px auto;
}
.content, .statusResponse {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pagination, .board-title {
  position:absolute;
  margin:0 auto;
  left:0;
  right:0;
  top:77%;
  z-index:1;
  justify-content:center;
}

.ig-content {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ig-content a {
  display: contents;
}

.ig-content a img {
  width: auto;
  height: 80%;
}

.ig-content a p {
  font-size: small;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 0 rgb(0 0 0 / 25%);
}

.flex-form input[type="button"] {
  background: #206199;
  border: 1px solid #206199;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  font-weight: 600;
}

.flex-form input[type="button"]:hover {
  background: #3D70B1;
  border: 1px solid #3D70B1;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="text"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 20px;
  text-align: center  ;
}

#brush { top: 11%; }
#shine { top: 13%}

#detailStatus {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: medium;
  margin-top: 10px;
  padding: 4px 5px;
}

#detailStatus:hover {
  background: #3D70B1;
  color: #fff;
}

#statusMessage {
  margin: 10px 0;
}

#statusContact {
  margin: 8px 30px 8px 30px;
}

/* 60x60 for WhatsApp and Instagram size*/
@media screen and (max-width:1260px){
  #title {
    font-size: 4rem;
  }

  #board {
    width: 20rem;
    height: 20rem;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .btn {
    font-size: larger;
  }

  #shine { top: 5%}
}

@media screen and (max-width:1024px){
  #title {
    font-size: 3.5rem;
  }

  #board {
    width: 19.5rem;
    height: 19.5rem;
  }

  #brush {
    top: 10%;
  }
}

@media screen and (max-width:924px) {
  #title {
    font-size: 3rem;
  }

  #board {
    width: 19rem;
    height: 19rem;
  }

  #brush {
    top: 10%;
  }
}

@media screen and (max-width:846px) {
  #title {
    font-size: 2.5rem;
  }

  #board {
    width: 18.5rem;
    height: 18.5rem;
  }

  #brush {
    top: 14%;
  }

  #shine {
    top: 9%;
  }

  .statusResponse {
    justify-content: flex-end;
  }

  #statusContact {
    margin: 8px 30px 23px 30px;
  }
  
}

/* NEXT 758px */
@media screen and (max-width:758px) {
  .body { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .header { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #title { font-size: 4rem; }
  #board {
    width: 26rem;
    height: 26rem;
    margin-left: 0px;
    margin: 10px 0 0 0;
  }
  #board-info { 
    font-size: 16px; 
    margin: -14px auto;
  }

  #brush {
    top: 16%;
  }

  #shine {
    top: 11%;
  }

  .statusResponse {
    justify-content: center;
  }

  #statusContact {
    font-size: large;
  }
}

@media screen and (max-width:650px) {
  #title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width:570px) {
  #title {
    font-size: 3rem;
  }

  #board {
    width: 22rem;
    height: 22rem;
  }

  .instagram {
    width: 50px;
    height: 50px;
  }

  .whatsapp {
    width: 50px;
    height: 50px;
  }

  .btn {
    font-size: large;
  }

  #brush {
    top: 13%;
  }

  #shine {
    top: 8%;
  }

  #statusContact {
    margin: 8px 30px 8px 30px;
  }

  #statusContact {
    font-size: medium;
  }
}

@media screen and (max-width:500px) {
  #board-info { font-size: 13px; }
  #title { font-size: 2.5rem; }
  #board {
    width:18rem;
    height: 18rem;
  }
  .header nav li{ margin: 0 10px; }
  .header { padding: 10px !important; }

  #brush {
    top: 12%;
  }

  .statusResponse {
    justify-content: flex-end;
  }

  #statusContact {
    margin: 8px 30px 25px 30px;
  }
}

@media screen and (max-width:420px) {
  .flex-form { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #title { font-size: 2rem; }
}

@media screen and (max-width:380px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  .instagram {
    width: 40px;
    height: 40px;
  }
  .whatsapp {
    width: 40px;
    height: 40px;
  }
  .btn { font-size: medium; }
}

/* POP UP AND TABLE */
.popup-container a,
.popup-container a:hover,
.popup-container a:active,
.popup-container a:visited {
  color: #009688;
  font-weight: 500;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid rgba(0, 0, 0, 0);
  border-width: 2px 3px 2px 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.popup-container {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  overflow-y: hidden;
}

.popup-container.hide {
  opacity: 0;
  pointer-events: none;
}

.popup-table {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.popup-container.hide .popup-table {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.popup-table-cell {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 16px;
}

.popup {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  max-width: 720px;
  /* a regular height must be set here, or nothing works */
  max-height: 80vh;
  overflow-y: auto;
  overflow: hidden;
  padding: 48px 0 65px 0;
  background-color: #fafafa;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 100%;
  color: #303030;
  box-shadow: 0 10px 40px 4px rgba(0, 0, 0, 0.3);
}

.popup .detailTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  min-width: 200px;
  line-height: 48px;
  box-sizing: border-box;
  padding: 0 12px;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  font-weight: 500;
  font-size: 1.05em;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
  background-color: #FAFAFA;
  border-radius: 2px 2px 0 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .content {
  width: 100%;
  min-width: 200px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 12px;
  -webkit-overflow-scrolling: touch;
}

.popup .subtitle {
  color: #009688;
}

.popup .text {
  box-sizing: border-box;
  padding: 12px;
  line-height: 1.5em;
}

.popup-container .buttons {
  padding: 8px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-weight: 500;
  box-sizing: border-box;
  border-top: 1px solid #EAEAEA;
  background-color: #FAFAFA;
  border-radius: 0 0 2px 2px;
}

.popup-container .button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  min-width: 60px;
  height: 48px;
  line-height: 50px;
  padding: 0 12px;
  color: #009688;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-container .button:hover {
  background-color: #eeeeee;
}

.popup-container .button:active {
  background-color: #e5e5e5;
}

.rwd-table {
  margin: auto;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .popup {
    height: 100vh;
    width: initial;
  }
}

.rwd-table {
  color: #000;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #000;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #000;
}