.popup-container a,
.popup-container a:active,
.popup-container a:hover,
.popup-container a:visited {
	font-weight: 500;
	text-decoration: none
}

::-webkit-scrollbar {
	width: 12px
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .1);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 2px 3px 2px 3px
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .15)
}

.popup-container {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	overflow-y: hidden
}

.popup-container.hide {
	opacity: 0;
	pointer-events: none
}

.popup-table {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform .3s ease;
	transition: transform .3s ease
}

.popup-container.hide .popup-table {
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(6px);
	transform: translateY(6px)
}

.popup-table-cell {
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 16px
}

.popup {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: auto;
    max-width: 720px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fafafa;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 100%;
    color: #303030;
    box-shadow: 0 10px 40px 4px rgba(0,0,0,.3)
}

.popup .popuptitle {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	min-width: 200px;
	line-height: 48px;
	box-sizing: border-box;
	padding: 0 12px;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	font-weight: 500;
	font-size: 1.05em;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	background-color: #fafafa;
	border-radius: 2px 2px 0 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup .content {
	width: 100%;
	min-width: 200px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 12px;
	-webkit-overflow-scrolling: touch
}

.popup .text {
	box-sizing: border-box;
	padding: 12px;
	line-height: 1.5em
}

.popup-container .popup-buttons {
	position: sticky;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-weight: 500;
	box-sizing: border-box;
	border-top: 1px solid #eaeaea;
	background-color: #fafafa;
	border-radius: 0 0 2px 2px
}

.popup-container .popup-button {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	min-width: 60px;
	height: 48px;
	line-height: 50px;
	padding: 0 12px;
	cursor: pointer;
	border-radius: 3px;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.popup-container .button:hover {
	background-color: #eee
}

.popup-container .button:active {
	background-color: #e5e5e5
}

.plus-button {
    border: 2px solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
}
.plus-button:after, .plus-button:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.plus-button:before {
    height: 1em;
    width: 0.2em;
}
.plus-button:after {
    height: 0.2em;
    width: 1em;
}
.plus-button--small {
    font-size: 12px;
}
.plus-button--large {
    font-size: 22px;
}
